<h3>Search by Ingredients</h3>
<div class="search-ingredients">
  <div>
    <button id="add-ingredient" class="btn btn-secondary">Add ingredient</button>
  </div>

  <div class="ingredient-item-div">
    <input class="ingredient-item" type="text" class="form-control" placeholder="Ingredient name">
    <button type="submit" class="btn btn-secondary ingredient-item-remove">&#10060</button>
  </div>
</div>
<button type="submit" id="search-recipe-ingredients" class="btn btn-primary">Find Recipe</button>