<h4>Search by Recipe Name</h4>
<label for="exampleFormControlSelect1">Recipe Name</label>
<input type="text" id="recipe-name" class="form-control" placeholder="Recipe Name">
<button type="submit" id="search-recipe-name" class="btn btn-primary">Find Recipe</button>