<h3>Search by Recipe Name</h3>
<label for="exampleFormControlSelect1"><strong>RECIPE NAME:</strong></label>
<input type="text" id="recipe-name" class="form-control" placeholder="Recipe Name">
<button type="submit" id="search-recipe-name" class="btn btn-primary">Find Recipe</button>