<div class="container">
  <br>
  <div class="title">
    <br>
    <h1 class="display-4 text-center">Home-Cooked</h1>
    <h2 class="text-center">Find recipies based on the ingredients you have on hand</h2>
    <br>
  </div>
  <br>
  <br>
  <div class="row text-center">
    <div class="col-sm-4">
      <br>
      <br>
      <img class="img-fluid" src="/styles/images/grill.png">
    </div>
    <div class="col-sm-4 p-2">
      <div class="form-group">
        <label for="exampleFormControlSelect1">
          <h3>Select User</h3>
        </label>
        <select class="form-control" id="user-select">
          <option value="0">choose user</option>

          {{#each data}}
          <option value={{dataValues.id}}>{{dataValues.name}}</option>
          {{/each}}

        </select>
        <br>

      </div>
      <label for="exampleFormControlSelect1">
        <h3>New User</h3>
      </label>
      <input type="text" id="username-create" class="form-control" placeholder="create user">
      <br>
      <button type="submit" id="user-create" class="btn btn-outline-dark">
        <h4 class="my-1">Lets go!</h4>
      </button>

    </div>
    <div class="col-sm-4">
      <br>
      <br>
      <img class="img-fluid" src="/styles/images/grill.png" class="img-fluid">
    </div>

  </div>
  <br>
  <br>
  <br>
  <br>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>