<div class="form-group">
  <label for="exampleFormControlSelect1">Select User</label>
  <select class="form-control" id="user-select">
    <option value="0">choose user</option>
    {{#each dbUsers}}
    <option value={{dataValues.id}}>{{dataValues.name}}</option>
    {{/each}}
  </select>
</div>

<input type="text" id="username-create" class="form-control" placeholder="create user">
<button type="submit" id="user-create" class="btn btn-primary">Lets go!</button>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>