<div class="container">
  <br>
  <div class="title">
    <br>
    <h1 class="display-4 text-center">Home-Cooked</h1>
    <h2 class="text-center">Find recipies based on the ingredients you have on hand</h2>
    <br>
  </div>
  <br>
  <br>
  <div class="row text-center">
    <div class="col-sm-4">
      <br>
      <br>
      <img class="icon img-fluid" src="/styles/images/grill.png">
    </div>
    <div class="col-sm-4 log-in">
     <h2>Login</h2>
		<div class="container">
				<form>
					<div class="form-group">
						<label for="exampleInputEmail1"><strong>Email Adress</strong></label>
						<input id="login-email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1"><strong>Password</strong></label>
						<input id="login-password" type="password" class="form-control" id="exampleInputPassword1" />
					</div>

					<button id="user-select" type="submit" class="login-btn btn btn-primary">Submit</button>
				</form>
     <br>
      <h2>Signup</h2>
				<form>
					<div class="form-group">
						<label for="exampleInputEmail1"><strong>Email Adress</strong></label>
						<input id="signup-email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1"><strong>Password</strong></label>
						<input id="signup-password" type="password" class="form-control" id="exampleInputPassword1" />
					</div>

					<button id="user-create" type="submit" class="signup-btn btn btn-primary">Submit</button>
				</form>
			
		</div>
    </div>
    <div class="col-sm-4">
      <br>
      <br>
      <img class="icon img-fluid" src="/styles/images/grill.png" class="img-fluid">
    </div>

  </div>
  <br>
  <br>
  <br>
  <br>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>