<h1>Pantry</h1>
<input type="text" id="ingredient-search" class="form-control" placeholder="start typing to find your ingredient">

<div class="returned-search-items"></div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/pantry.js"></script>