<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Pantry</h1>
            <p class="lead text-center">Add the ingredients you have on hand</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>Add Ingredients</h2>
            <input type="text" id="ingredient-search" class="form-control"
                placeholder="start typing to find your ingredient">
            <div class="returned-search-items"></div>
        </div>

        <div class="col-sm-6">
            <h2 class="text-center">My Ingredients:</h2>
            <div class="ingredient-list"></div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/pantry.js"></script>