<div class="container">
  {{#if showNavBar}}
  {{> nav}}
  {{/if}}

  <div class="title mb-0 py-3">
    <h1 class="display-4 text-center m-2">{{header}}</h1>
    <h2 class="text-center">Make a meal</h2>
  </div>


  {{#if showSearchByName}}
  {{> searchByName}}
  {{/if}}

  {{#if showSearchByIngredient}}
  {{> searchByIngredients}}
  {{/if}}

  <br>
  <br>
  <div class="pt-4">
    {{#each data}}
    {{#beginRow @index}}
    <div class="row">
      {{/beginRow}}
      <div class="col-sm-12 col-md-6">
        <div class="recipe-item recipes text-center" data-recipe-id={{this.id}}>
          <h3 class="text-center recipe-title">{{this.title}}</h3>
          <img class="recipeImg border-box border-thin" src={{image}} alt="recipe-image">
          {{#unless showSearchByIngredient}}
          <div class="row pt-3 pb-5">

            {{#if this.usedIngredients}}
            <div class="recipes-used-ingredients col-6">{{> ingredientsUsed}}</div>
            {{/if}}
            {{#if this.missedIngredients}}
            <div class="recipes-used-ingredients col-6">{{> ingredientsUnused}}</div>
            {{/if}}

          </div>
          {{/unless}}
        </div>
      </div>
      {{#endRow @index}}
    </div>
    <hr>
    {{/endRow}}
    {{/each}}
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/recipes.js"></script>