<div class="container" style="background-image: url('/styles/images/background.jpg');">

<div class="title">
        <br>

        <h1 class="display-4 text-center">{{header}}</h1>
        <h2 class="text-center">Make a meal with the ingedients in your pantry</h2>
        <br>

    </div>

{{#if showNavBar}}
{{> nav}}
{{/if}}

{{#if showSearchByName}}
{{> searchByName}}
{{/if}}

{{#if showSearchByIngredient}}
{{> searchByIngredients}}
{{/if}}


<div class="row recipes">
  {{#each data}}
  <div class="recipe-item" data-recipe-id={{this.id}}>
    <img src={{image}} alt="recipe-image">
    <h4>{{title}}</h4>

    {{#if this.usedIngredients}}
    <div class="recipes-used-ingredients">{{> ingredientsUsed}}</div>
    {{/if}}

    {{#if this.missedIngredients}}
    <div class="recipes-used-ingredients">{{> ingredientsUnused}}</div>
    {{/if}}

  </div>
  {{/each}}
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/recipes.js"></script>