button,a:not(.dropdown-item){
  background-color: #eddac7 !important;
  font-weight: 700 !important;
  box-shadow: 5px 10px 18px rgb(0,0,0,.5);
}

body{
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h4{
  font-family: 'Oleo Script', cursive;
}

h1, h2, h3{
  font-family: 'Oleo Script', cursive;
  text-shadow:
  -1px -1px 0 rgb(255, 255, 255),
  1px -1px 0 rgb(255, 255, 255),
  -1px 1px 0 rgb(255, 255, 255),
  1px 1px 0 rgb(255, 255, 255);
}

input,
select{
  box-shadow: 5px 10px 18px rgba(0,0,0,.5);
}

tr {
  border-bottom: 1px solid rgb(174,157,143);
}

.border-box{
  border: black solid 4px;
  border-radius: 12px;
  box-shadow: 5px 10px 18px rgb(0,0,0,.5);
}

.border-thin{
  border-width: 1px;
}

.font-weight{
  font-weight: 700;
}

.instruction-div{
  background-color: #eddac762;
}

.instruction-step-count{
  font-family: 'Oleo Script', cursive;
  text-shadow:
  -1px -1px 0 rgb(255, 255, 255),
  1px -1px 0 rgb(255, 255, 255),
  -1px 1px 0 rgb(255, 255, 255),
  1px 1px 0 rgb(255, 255, 255);
  font-size: 2rem;
}

.myIngredients{
  border-left: black solid 1px;
}

.recipeImg{
  width: 400px;
}

.recipeImg:hover{
  cursor: pointer;
}

.recipe-title:hover{
  cursor: pointer;
}

.recipes-used-ingredients{
  font-size: 20px;
}

.search-recipe-name-div,
.ingredient-item-div{
  margin: auto;
  max-width: 300px;
}

@media only screen and (min-width: 575px) {
  .ingredient-list{
    margin-top: 70px;
  }
}